- @active_nav_item = :maintenance
= content_for :page_header do
  %h1.pageHeader__heading= @page_title = "Edit Update for Maintenance ##{@maintenance.id}"

= form_for [:admin, @maintenance, @maintenance_update] do |f|
  .fieldSet
    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :text, "Post an update"
      %dd.fieldSet__field= f.text_area :text, :class => 'textInput', :placeholder => "Enter the text you wish to post here..."
  .formButtons
    .formButtons__secondary= link_to "Delete Update", [:admin, @maintenance, @maintenance_update], :class => 'button button--grey button--solid', :method => :delete, :data => {:confirm => "Are you sure you wish to delete this update?"}
    = f.submit "Save", :class => 'button button--solid'
    = link_to "Cancel", admin_maintenance_path(@maintenance), :class => 'button button--lightGrey'
