= form_for [:admin, @issue] do |f|
  = f.error_messages
  .fieldSet.u-margin-2x
    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :title
      %dd.fieldSet__input= f.text_field :title, :class => 'textInput', :autofocus => @issue.new_record?, :required => true

    - if @issue.new_record?
      %dl.fieldSet__field.u-margin
        %dt.fieldSet__label= f.label :initial_update, "Text for the first update"
        %dd.fieldSet__input= f.text_area :initial_update, :class => 'textInput', :placeholder => Issue::INITIAL_UPDATE_TEXT

      %dl.fieldSet__field.u-margin
        %dt.fieldSet__label= f.label :state
        %dd.fieldSet__input
          = render 'state_selection', :f => f, :field_name => :state

    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :service_ids, "Which services are affected?"
      %dd.fieldSet__input
        = hidden_field_tag 'issue[service_ids][]', nil
        %ul.fieldSet__checkboxList
          - for service in Service.ordered
            %li
              = check_box_tag 'issue[service_ids][]', service.id, @issue.services.include?(service), :id => "service_#{service.id}"
              = label_tag "service_#{service.id}", service.name

    - if @issue.new_record?
      %dl.fieldSet__field.u-margin
        %dt.fieldSet__label= f.label :service_status_id, "Set the status for these services to..."
        %dd.fieldSet__input
          .fieldSet__selectContainer= f.collection_select :service_status_id, ServiceStatus.problematic.sort_by_type, :id, :name

      - if site.allow_subscriptions?
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :notify, "Notify subscribers when this issue is posted?"
          %dd.fieldSet__input
            .fieldSet__checkbox.fieldSet__selectContainer
              = f.check_box :notify
              = f.label :notify, "Yes - send notifications to #{pluralize Subscriber.verified.count, 'subscriber'}"

  .formButtons
    - unless @issue.new_record?
      .formButtons__secondary= link_to "Delete", [:admin, @issue], :class => 'button button--solid button--grey', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this issue and all updates?"}
    = f.submit :class => 'button button--solid'
    = link_to "Cancel", @issue.new_record? ? admin_issues_path : [:admin, @issue], :class => 'button button--lightGrey'
