.pageContent__heading Issues
%p.u-intro.u-margin-2x
  If anything goes wrong and it wasn't planned, it's an issue. You can add issues
  which occur straight into here and they'll be published on your status site
  straight away.

.largeCreateButtonContainer.u-margin-2x
  = link_to "Start posting a new issue", new_admin_issue_path, :class => 'button button--green button--solid'

- for issue in @ongoing_issues
  .issueBox.u-margin
    .issueBox__right
      %p.issueBox__time Last updated #{time_tag issue.updated_at}
      %p.issueBox__servicesTitle Affected Services
      %ul.issueBox__services
        - for service in issue.services
          %li= service.name

    %h3.issueBox__title= link_to issue.title, [:admin, issue], :class => 'u-underline'
    .issueBox__status
      = service_status_tag issue.service_status
      (#{issue.state.humanize})


