<!DOCTYPE html>
<html>
<head>
<title><%= @page_title %> - <%= site.title %></title>
<link href='//fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'speedyrails' %>
<%= javascript_include_tag 'speedyrails' %>
<%= csrf_meta_tags %>
<meta name='Generator' content='Staytus/<%= Staytus::Config.version %>' />
<link rel="shortcut icon" href="<%= asset_path('favicon.png') %>"/>
<meta content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1' name='viewport' />
</head>
<body>

  <%= display_flash %>

  <%= yield %>

  <footer class='siteFooter'>
    <div class='container'>

      <ul class='siteFooter__nav'>
        <li><a href='/history'><%= t("themes.default.footer.history", :default => 'History') %></a></li>
        <li><a href='<%= site.website_url %>'><%= t("themes.default.footer.homepage", :default => 'Our Homepage') %></a></li>
        <li><a href='mailto:<%= site.support_email %>'><%= t("themes.default.footer.contact_us", :default => 'Contact Us') %></a></li>
      </ul>
      <p class='siteFooter__poweredBy'>
        <%= t("themes.default.footer.powered_by", :default => "Powered by") %> <a href='http://staytus.co'>Staytus</a>
      </p>
    </div>
  </footer>

</body>
</html>
