.pageContent__heading= @page_title = 'Locations'
%p.u-intro.u-margin
  Locations allow you to group your services together based on their physical
  location or the network which are associated on.

%table.dataTable.u-margin
  %thead
    %tr
      %td{:width => '40%'} Name
      %td{:width => '40%'} Physical Location
      %td{:width => '20%'}
  %tbody
    - for location in @locations
      %tr
        %td= link_to location.name, [:edit, :admin, location], :class => 'u-underline'
        %td= location.has_physical_presence? ? location.physical_address : boolean_tag(false)
        %td.u-align-right= link_to "Edit", [:edit, :admin, location], :class => 'button button--small'
%p.u-margin-2x= link_to "Add New Location", new_admin_location_path, :class => 'button button--green button--small'
