- @active_nav_item = :maintenance
= content_for :page_header do
  .pageHeader__button= link_to "Back", admin_maintenances_path, :class => 'button button--lightGrey button--small'
  .pageHeader__heading.u-margin= @page_title = "Completed Maintenance Sessions"
  %p.u-intro
    This page lists all maintenance sessions which are now marked as completed.

- if @maintenances.empty?
  .noDataArea.noDataArea--large
    %p.u-margin You have no completed maintenance sessions.
    %p.u-subText= link_to "Back to other sessions", admin_maintenances_path, :class => 'u-underline'
- else
  = render 'table'

