- @active_nav_item = :maintenance
= content_for :page_header do
  .pageHeader__backButton= link_to "New Session", new_admin_maintenance_path, :class => 'button button--green button--solid button--small'
  .pageHeader__heading.u-margin= @page_title = "Scheduled Maintenance"
  %p.u-intro
    If you have planned maintenance on any part of your infrastrucutre, you can
    log it here. It will then be automatically displayed when in progress.

- if @maintenances.empty?
  .noDataArea.noDataArea--large
    %p.u-margin You have no upcoming maintenance sessions.
    %p.u-subText= link_to "Show completed sessions", completed_admin_maintenances_path, :class => 'u-underline'

- else
  = render 'table'

  %p.u-align-right= link_to "Show completed sessions", completed_admin_maintenances_path, :class => 'button button--lightGrey button--small'
