- @active_nav_item = :maintenance
= content_for :page_header do
  .pageHeader__backButton= link_to "Back to sessions", admin_maintenances_path, :class => 'button button--small button--lightGrey'
  %h1.pageHeader__heading= @page_title = "Maintenance ##{@maintenance.id}"

.u-margin
  %dl.definition.u-margin
    %dt Title
    %dd= @maintenance.title
  %dl.definition.u-margin
    %dt Details
    %dd.markdown= markdown @maintenance.description
  %dl.definition.u-margin
    %dt Time Period
    %dd
      = @maintenance.start_at.to_s(:long)
      for #{@maintenance.length_in_minutes_as_string}
  %dl.definition.u-margin
    %dt Completion Time
    %dd= @maintenance.finish_at.to_s(:long)
  %dl.definition.u-margin
    %dt Status
    %dd= maintenance_status_tag @maintenance.status
  - unless @maintenance.services.empty?
    %dl.definition.u-margin
      %dt Affected Services
      %dd
        %ul.standardList.standardList--double
          - for service in @maintenance.services
            %li= service.name
  %dl.definition.u-margin-2x
    %dd.buttonSet
      - if @maintenance.open?
        = link_to "Finish Session", [:toggle, :admin, @maintenance], :class => 'button button--small button--green button--solid', :method => :post
      - else
        = link_to "Re-open Session", [:toggle, :admin, @maintenance], :class => 'button button--small button--lightGrey button--solid', :method => :post
      = link_to "Edit Details", [:edit, :admin, @maintenance], :class => 'button button--small'

.box.box--white
  = form_for [:admin, @maintenance, @update] do |f|
    .fieldSet
      %dl.fieldSet__field.u-margin
        %dt.fieldSet__label= f.label :text, "Post an update"
        %dd.fieldSet__field= f.text_area :text, :class => 'textInput', :placeholder => "Enter the text you wish to post here..."

      - if @maintenance.notify? && site.allow_subscriptions?
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :notify, "Notify subscribers when this session is posted?"
          %dd.fieldSet__input
            .fieldSet__checkbox.fieldSet__selectContainer
              = f.check_box :notify
              = f.label :notify, "Yes - send notifications to subscribers"

      %p.u-align-right= f.submit "Post Update", :class => 'button button--solid'

  .box__footer
    %ul.issueUpdates
      - if @updates.empty?
        .noDataArea There are no updates for this session.
      - else
        - for update in @updates
          %li.issueUpdates__item
            .issueUpdates__text.markdown= markdown update.text
            %p.issueUpdates__meta
              Posted #{time_tag update.created_at}
              - if update.user
                by #{update.user.name}
              = link_to "Edit", [:edit, :admin, @maintenance, update], :class => 'u-underline issueUpdates__edit'
