<% @page_title = 'Welcome' %>

<div class='container'>

  <% unless @issues.empty? %>
  <section class='ongoingIssues'>
    <% @issues.each do |issue| %>
    <a href='#' class='issueBanner issueBanner--<%= issue.state %>'>
      <p class='issueBanner__state'><%= issue.state.humanize %></p>
      <h2><%= issue.title %></h2>
      <p class='issueBanner__time'><%= t("themes.default.last_updated", :default => 'last updated') %> <%= time_tag issue.updated_at %></p>
    </a>
    <% end %>
  </section>
  <% end %>

  <% unless @active_maintenances.empty? %>
  <section class='ongoingIssues'>
    <% @active_maintenances.each do |maintenance| %>
    <a href='#' class='issueBanner issueBanner--maintenance'>
      <p class='issueBanner__state'><%= t("themes.default.maintenance", :default => 'Maintenance') %></p>
      <h2><%= maintenance.title %></h2>
      <p class='issueBanner__time'><%= t("themes.default.due_to_finish", :default => 'due to finish') %> <%= distance_of_time_in_words_to_now_with_direction maintenance.finish_at %></p>
    </a>
    <% end %>
  </section>
  <% end %>

  <% unless @upcoming_maintenances.empty? %>
  <a href='#' class='issueBanner issueBanner--maintenanceUpcoming'>
    <h2>There <%= @upcoming_maintenances.size == 1 ? 'is' : 'are' %> <%= pluralize @upcoming_maintenances.size, 'maintenance session' %> scheduled for the future. Read more &rarr;</h2>
  </a>
  <% end %>

  <ul class='serviceList'>
    <% for service in @services %>
    <li class='serviceList__item'>
      <p class='serviceList__name'><%= service.name %></p>
      <p class='serviceList__status'><%= service_status_tag service %></p>
    </li>
    <% end %>
  </ul>
</div>
