<% @page_title = "#{@maintenance.title} - #{@maintenance.start_at.strftime("%d/%m/%Y")}" %>
<%= render 'page_header' %>

<section class='issueDetail'>
  <div class='container'>
  <% unless @maintenance.services.empty? %>
    <div class='issueDetail__services'>
      <p>Affected services:</p>
      <ul>
        <% @maintenance.services.each do |service| %>
        <li><%= service.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class='issueDetail__title'><%= @maintenance.title %></h1>
  <p class='issueDetail__date'>Scheduled for <%= @maintenance.start_at.strftime("%A #{@maintenance.start_at.day.ordinalize} %B %Y at %H:%M (#{site.time_zone})") %></p>
  <p class='issueDetail__descriptionTitle'>Schedule/description of work</p>
  <p class='issueDetail__description'><%= @maintenance.description %></p>

  <dl class='issueDetail__details'>
    <dt>Scheduled start time</dt>
    <dd><%= @maintenance.start_at.to_s(:long) %></dd>
    <dt>Duration</dt>
    <dd><%= @maintenance.length_in_minutes_as_string %></dd>
    <dt>Status</dt>
    <dd><%= maintenance_status_tag @maintenance.status %></dd>

  </dl>

  <% unless @updates.empty? %>
  <h2 class='issueUpdates__header'>Updates</h2>
  <div class='issueUpdates'>
    <% @updates.each do |update| %>
    <div class='issueUpdates__update'>
      <a name='update-<%=update.identifier%>'></a>
      <p class='issueUpdates__text'>
        <%= update.text %>
      </p>
      <p class='issueUpdates__meta'>
        Posted <%= time_tag update.created_at%>
        <% if update.user %>by <%= update.user.name %><% end %>
      </p>
    </div>
    <% end %>
    </div>
  </div>
  <% end %>

</section>
