- @active_nav_item = :settings
= content_for :page_header do
  %h1.pageHeader__heading.u-margin= @page_title = "General Settings"
  %p.u-intro
    This form allows you to make changes to your general settings. Once you have made
    your changes, just click the 'Save' button at the bottom to continue.

= form_for @site, :url => admin_settings_path do |f|
  = f.error_messages
  .fieldSet.u-margin-2x
    .row
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :title
          %dd.fieldSet__input= f.text_field :title, :class => 'textInput'
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :domain
          %dd.fieldSet__input= f.text_field :domain, :class => 'textInput'

    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :description
      %dd.fieldSet__input= f.text_area :description, :class => 'textInput'

    .row
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :support_email, "Support E-Mail Addresss"
          %dd.fieldSet__input= f.text_field :support_email, :class => 'textInput'
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :website_url, "Website URL"
          %dd.fieldSet__input= f.text_field :website_url, :class => 'textInput'

    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :time_zone, "Time Zone"
      %dd.fieldSet__input
        .fieldSet__selectContainer
          = f.time_zone_select :time_zone
    %dl.fieldSet__field.u-margin
      %dt.fieldSet__label= f.label :http_protocol, "HTTP Protocol"
      %dd.fieldSet__input
        .fieldSet__selectContainer
          = f.select :http_protocol, [['HTTP', 'http'], ['HTTPS', 'https']]

    %dl.fieldSet__field.u-margin-2x
      %dt.fieldSet__label= f.label :crawling_permitted, "Allow search engines?"
      %dd.fieldSet__input
        .fieldSet__checkbox.fieldSet__selectContainer
          = f.check_box :crawling_permitted
          = f.label :crawling_permitted, "Yes - allow search engines to index the public status site"

    %dl.fieldSet__field.u-margin-2x
      %dt.fieldSet__label= f.label :allow_subscriptions, "Allow visitors to subscribe to your status site?"
      %dd.fieldSet__input
        .fieldSet__checkbox.fieldSet__selectContainer
          = f.check_box :allow_subscriptions
          = f.label :allow_subscriptions, "Yes - allow visitors to receive updates whenever you add/update issues"

    %h2.fieldSet__subHeading.u-margin Outgoing E-Mail Settings
    .row
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :email_from_name, "Outgoing E-Mail Name"
          %dd.fieldSet__input= f.text_field :email_from_name, :class => 'textInput', :placeholder => @site.title
      .col.col--10
        %dl.fieldSet__field.u-margin
          %dt.fieldSet__label= f.label :email_from_address, "Outgoing E-Mail Address"
          %dd.fieldSet__input= f.text_field :email_from_address, :class => 'textInput', :placeholder => @site.support_email



  .formButtons
    = f.submit "Save Settings", :class => 'button button--solid'
    = link_to "Cancel", admin_settings_path, :class => 'button button--lightGrey'
