<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> - <%= site.title %></title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'frontend' %>
  <%= javascript_include_tag 'frontend' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='siteHeader <% if site.cover_image %>has-coverImage<% end %>' <% if site.cover_image%>style='background-image:url(<%= site.cover_image.path %>)'<% end%>>
    <% if site.logo %>
    <p class='siteHeader__logo'><%= image_tag site.logo.path %></p>
    <% end %>
    <div class='container'>
      <p class='siteHeader__title'><%= site.title %></p>
      <p class='siteHeader__subTitle'><%= site.description %></p>
    </div>
  </header>

  <%= yield %>

  <footer class='siteFooter'>
    <div class='container'>
      <p class='poweredBy'>
        <%= t("themes.default.footer.powered_by", :default => "Powered by") %> <a href='http://staytus.co'>Staytus</a>
      </p>
      <ul class='footerNav'>
        <li><a href='/history'><%= t("themes.default.footer.history", :default => 'History') %></a></li>
        <li><a href='<%= site.website_url %>'><%= t("themes.default.footer.homepage", :default => 'Our Homepage') %></a></li>
        <li><a href='mailto:<%= site.support_email %>'><%= t("themes.default.footer.contact_us", :default => 'Contact Us') %></a></li>
      </p>
    </div>
  </footer>
</body>
</html>
