<!DOCTYPE html>
<html>
<head>
<title><%= @page_title %> - <%= site.title %></title>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'frontend' %>
<%= javascript_include_tag 'frontend' %>
</head>
<body>
  <%= yield %>
  <hr>
  <p><a href='/admin'>Admin area</a></p>
</body>
</html>
