!!!
%html
  %head
    %title #{@page_title} - Staytus
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    = javascript_include_tag 'admin'
    = stylesheet_link_tag 'admin'
    = csrf_meta_tags
    %link{:href => image_path('favicon.png'), :rel => 'shortcut icon', :type => 'image/png'}
  %body
    %section.globalSidebar
      .globalSidebar__version v#{Staytus::Config.version}
      = link_to "Staytus", "http://staytus.co", :class => 'globalSidebar__logo'
      - if has_site?
        %ul.globalSidebar__nav
          %li= link_to "Dashboard", admin_root_path, :class => (@active_nav_item == :dashboard ? 'active' : '')
          %li
            - count = Issue.ongoing.count
            - if count > 0
              %span.globalSidebar__count= count
            = link_to "Issues", admin_issues_path, :class => (@active_nav_item == :issues ? 'active' : '')
          %li
            - count = Maintenance.active_now.count
            - if count > 0
              %span.globalSidebar__count.globalSidebar__count--maintenance= count
            = link_to "Maintenance", admin_maintenances_path, :class => (@active_nav_item == :maintenance ? 'active' : '')
          %li= link_to "Subscribers", admin_subscribers_path, :class => (@active_nav_item == :subscribers ? 'active' : '')
          %li= link_to "Settings", admin_settings_path, :class => (@active_nav_item == :settings ? 'active' : '')

        %ul.globalSidebar__nav.globalSidebar__nav--subNav
          %li= link_to "View public site", root_path
          %li= link_to "Logout", admin_logout_path, :method => :delete



    %section.pageHeader
      = display_flash
      .pageHeader__inner
        = yield :page_header
    %section.pageContent

      = yield
