!!!
%html
  %head
    %title #{@page_title} - Staytus
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    = javascript_include_tag 'admin'
    = stylesheet_link_tag 'admin'
    = csrf_meta_tags
  %body
    %section.globalSidebar
      %p.globalSidebar__logo Staytus
      %ul.globalSidebar__nav
        %li= link_to "Dashboard", admin_root_path
        %li= link_to "Issues", admin_issues_path
        %li= link_to "Maintenance"
        %li
          = link_to "Infrastructure", '#'
          %ul
            %li= link_to "Services", admin_services_path
            %li= link_to "Locations", admin_locations_path

        %li
          = link_to "Settings", admin_settings_path
          %ul
            %li= link_to "Users", admin_users_path
            %li= link_to "Service Statuses", admin_service_statuses_path
        %li= link_to "Logout", admin_logout_path, :method => :delete

    %section.pageContent
      = display_flash
      = yield
